.starmite-row {
  clear: both; }
  .starmite-row [class*="starmite"] {
    float: left;
    min-height: 1px;
    margin: 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .starmite-row [class*="starmite"] img {
      width: 100%;
      height: auto; }
    .starmite-row [class*="starmite"] a {
      display: block; }
    .starmite-row [class*="starmite"] a:hover img {
      opacity: 0.5;
      -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear; }
  .starmite-row .starmite-bordered {
    border: 3px solid #000; }
  .starmite-row .starmite-half {
    width: 50%; }
  .starmite-row .starmite-third {
    width: 33.333333333333333%; }
  .starmite-row .starmite-fourth {
    width: 25%; }
  .starmite-row .starmite-fifth {
    width: 20%; }
  .starmite-row .starmite-sixth {
    width: 16.666666666666666%; }
  .starmite-row .starmite-seventh {
    width: 14.28571428571429%; }
  .starmite-row .starmite-eighth {
    width: 12.5%; }
  .starmite-row .starmite-ninth {
    width: 11.11111111111111%; }
  .starmite-row .starmite-tenth {
    width: 10%; }
