.starlet-row {
  clear: both; }
  .starlet-row [class*="starlet"] {
    float: left;
    min-height: 1px;
    margin: 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .starlet-row [class*="starlet"] img {
      width: 100%;
      height: auto; }
    .starlet-row [class*="starlet"] a {
      display: block; }
    .starlet-row [class*="starlet"] a:hover img {
      opacity: 0.5;
      -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear; }
  .starlet-row .starlet-bordered {
    border: 3px solid #000; }
  .starlet-row .starlet-half {
    width: 50%; }
  .starlet-row .starlet-third {
    width: 33.333333333333333%; }
  .starlet-row .starlet-fourth {
    width: 25%; }
  .starlet-row .starlet-fifth {
    width: 20%; }
  .starlet-row .starlet-sixth {
    width: 16.666666666666666%; }
  .starlet-row .starlet-seventh {
    width: 14.28571428571429%; }
  .starlet-row .starlet-eighth {
    width: 12.5%; }
  .starlet-row .starlet-ninth {
    width: 11.11111111111111%; }
  .starlet-row .starlet-tenth {
    width: 10%; }
