.starmite-row {
  clear:both;
  [class*="starmite"] {
    float: left;
    min-height: 1px;
    margin:0;
    overflow:hidden;
       -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;

    img {
      width:100%;
      height:auto;
    }
    a {
      display:block;
    }
    a:hover {
      img {
        opacity: 0.5;
        -webkit-transition: opacity 0.15s linear;
           -moz-transition: opacity 0.15s linear;
             -o-transition: opacity 0.15s linear;
                transition: opacity 0.15s linear;
      }
    }
  }
  .starmite-bordered {
    border:3px solid #000;
  }
  .starmite-half {
    width:50%;
  }  
  .starmite-third {
    width:33.333333333333333%;
  }
  .starmite-fourth {
    width:25%;
  }
  .starmite-fifth {
    width:20%;
  }
  .starmite-sixth {
    width:16.666666666666666%;
  }
  .starmite-seventh {
    width:14.28571428571429%;
  }
  .starmite-eighth {
    width:12.5%;
  }
  .starmite-ninth {
    width:11.11111111111111%;
  }
  .starmite-tenth {
    width:10%;
  }
}